body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#btn {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: brown;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 20px;
}
#btn:hover {
  cursor: pointer;
}
#div {
  width: 500px;
  height: 300px;
  background-color: rebeccapurple;
  border-radius: 20px;
  margin-top: 10px;
}
